<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-activity-recognition" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>ActivityRecognition</name>
	
	<js-module name="ActivityRecognition" src="www/ActivityRecognition.js">
		<clobbers target="cordova.plugins.ActivityRecognition" />
	</js-module>
	
	<engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

	<platform name="android">
		
		<dependency id="com.google.playservices"/>
		
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="ActivityRecognition">
				<param name="android-package" value="cordova.plugin.activity.recognition.ActivityRecognition" />
			</feature>
		</config-file>
		
		<config-file parent="/*" target="AndroidManifest.xml">
			<service android:name=".ActivityRecognitionIntentService" android:exported="false" />
		</config-file>
		
		<config-file parent="/*" target="AndroidManifest.xml">
			<uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
		</config-file>
		
		<source-file src="src/android/ActivityRecognition.java" target-dir="src/cordova-plugin-activity-recognition/ActivityRecognition" />
		<source-file src="src/android/ActivityRecognitionIntentService.java" target-dir="src/cordova-plugin-activity-recognition/ActivityRecognition" />
		<source-file src="src/android/ActivityRecognitionInit.java" target-dir="src/cordova-plugin-activity-recognition/ActivityRecognition" />
		<source-file src="src/android/ActivityRequestResult.java" target-dir="src/cordova-plugin-activity-recognition/ActivityRecognition" />
	
	</platform>

</plugin>
